

.App {
  background-color: white;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  margin: auto;
  width: 50%;
  height: 40%;
  padding: 10px;
  align-items: baseline;
}

input{
  padding-bottom:15px;
  padding-right: 20px;
}

textarea{
  padding-bottom:50px;
  padding-right: 100px;

}

.formLabel{
  padding-bottom: 20px;
}

/* .recipeName{
  border-bottom: 3px solid black;
} */

.recipeName:hover{
  color: blue;
}

.list{
  width: 10%;
}

.recipe-row{
  border-bottom: 3px solid black;
  display: inline-flex;
  column-gap: 40px;
}

.deleteButton{
  height: 75%;
  text-align: center;
  margin: auto;
}

